


@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:960px;
margin:50px auto;
font-family:raleway
}
span {
color:red
}
h3 {
border-radius:0px 0px 0 0;
padding:1px 5px;
border: 0px solid black;
margin: 0;
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}#data {
width:800px;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
width:200px;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
clear: both;
display: block;
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
color:#6495ed
}
i {
color:#6495ed
}

#main > p {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}
input[type=checkbox] {
    margin-left: 10px;
}
form {
    width: 200px;
    display:inline-block;
    float: left;

}
#index > #accordion > div {
    margin: 2px;
    padding:2px 4px;
    border-radius: 0px 0px 0 0;
    width: 182px;
    display: block;
    border: 2px groove threedface
}
#profile > #accordion > h3 {
    border-bottom: 2px groove threedface
}
#showrooms {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

#marketer > h3 {
        margin: 25px 0 0 0;
        padding: 0;
}